<div class="container h-100">
  <div class="row align-items-center h-100 p-top">
    <div class="col-6 mx-auto">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="card">
          <div class="card-body">
            <div class="card-title text-center">
              <h3>User Signup</h3>
            </div>
            <div class="form-group">
              <label for="username">Name</label>
              <input type="text" class="form-control" formControlName="name" aria-describedby="userName"
                placeholder="Enter Name">
              <small style='color:#ff7355' *ngIf="getFormControl('name').invalid && !getFormControl('name').pristine">
                Name is required.
              </small>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp"
                placeholder="Enter email">
              <div style='color:#ff7355' *ngIf="getFormControl('email').invalid && !getFormControl('email').pristine">
                <small *ngIf="getFormControl('email').errors.required"> Email is required. </small>
                <small *ngIf="getFormControl('email').errors.email"> Value has to be a valid email address. </small>
              </div>
            </div>
            <div class="form-group">
              <label for="passwod">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password"
                aria-describedby="passwordHelp" placeholder="Enter passwod">
              <div style='color:#ff7355' *ngIf="getFormControl('password').invalid && !getFormControl('password').pristine">
                <small *ngIf="getFormControl('password').errors.required"> Password is required. </small>
                <small *ngIf="getFormControl('password').errors.minlength"> Password should be at least 6 characters.</small>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPasswod">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                aria-describedby="confirmPasswodHelp" placeholder="Enter passwod">
              <div style='color:#ff7355' *ngIf="getFormControl('confirmPassword').touched">
                  <small *ngIf="getFormControl('password').value != getFormControl('confirmPassword').value && getFormControl('confirmPassword').value != null"> Password should match. </small>
              </div>                
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="!signupForm.valid"
                class="btn btn-success form-control">Register</button>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary form-control" routerLink="/login">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>