
<div class="container mt-5">
    <div class="grid p-3">
        <ag-grid-angular #agGrid style="width: 100%; height: 200px;" id="myGrid" class="ag-theme-balham"
            [modules]="modules" [columnDefs]="columnDefs" [rowData]="rowData" [suppressRowClickSelection]="true"
            [rowSelection]="rowSelection">
        </ag-grid-angular>
    </div>
    <div class="row pr-3">
        <div class="col-12" (click)="getSelectedRows()"><button type="button" class="btn btn-primary float-right">Lock</button></div>
    </div>
</div>